
*~$*.xlsx
*~$*.xlsm
*~$*.pptx
*~$*.docx
*checkpoint.ipynb
*.DS_Store
.DS_Store
*.pyc
resume/MatthewKudijaResume.aux
resume/MatthewKudijaResume.log
resume/MatthewKudijaResume.out
resume/MatthewKudijaResume.synctex.gz
