/*STANDARD COLORS
#5B7894
#D2A054
#AF6C39
#972A25
#566D2F
#DB88A2

OLD COLORS
#3377b3*/




body { /*https://blog.koenvangilst.nl/brutalist-css/*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
  color: #444444;
}

code {
	color: #777;
	font-family: monospace;
	background: whitesmoke;
	border-radius: .2rem;
	padding: .1rem .3rem .2rem;
}

a {
    color:#3377b3;
    text-decoration: none;
    /*border-bottom: dotted 1px;*/
}

a:hover {
    color: #5B7894;
    background:whitesmoke;
    text-decoration: underline;
}

h1
{
    border-bottom:1px solid #ccc;
    padding-bottom:3px;
}

hr {
	border: 0;
	border-bottom: solid 1px rgba(210, 215, 217, 0.75);
	margin: 2em 0;
}

br { /*to fix extra spacing of indented bullets*/
  content: "";
  margin: 2em;
  display: block;
  font-size: 5%;
}

blockquote {
  /*background: whitesmoke;*/
  border: 1px solid #ccc;
  border-left: 4px solid #ccc;
  border-radius:0.1rem;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

th {
	background-color: #ccc;
	padding: .4rem;
}

td {
	padding: .3rem;
}

tr:nth-child(even){background-color: whitesmoke;}
tr:hover {background-color: #ddd;}

.div-feedback {
  background-color: whitesmoke;
  text-align: center;
  width:  100%;
  padding:  .3rem;
  color: gray;
  font-size: 14px;
  border-radius: 4px;
}






/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	border-radius: 0.375em;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 700;
	height: 3.5em;
	letter-spacing: 0.075em;
	line-height: 3.5em;
	padding: 0 2.25em;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #5B7894;
	color: #ffffff !important;
}

.button:hover {
	background-color: #D2A054;
}




/*Bootstrap style alerts */

.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;
 
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    border-radius: 4px;
    border: .5px solid #00529B;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 4px;
    border: .5px solid #4F8A10;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    border-radius: 4px;
    border: .5px solid #9F6000;
}
.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border-radius: 4px;
    border: .5px solid #D8000C;
}
.info i, .success i, .warning i, .error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}



/* Main */

	#main {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		width: 100%;
	}

	#main > .inner {
		padding: 0 6em 0.1em 6em ;
		margin: 0 auto;
		max-width: 110em;
	}

	#main > .inner > section {
		padding: 6em 0 4em 0 ;
		border-top: solid 2px rgba(210, 215, 217, 0.75);
	}

	#main > .inner > section:first-of-type {
		border-top: 0 !important;
	}

	@media screen and (max-width: 1680px) {

		#main > .inner {
			padding: 0 5em 0.1em 5em ;
		}

		#main > .inner > section {
			padding: 5em 0 3em 0 ;
		}

	}

	@media screen and (max-width: 1280px) {

		#main > .inner {
			padding: 0 4em 0.1em 4em ;
		}

		#main > .inner > section {
			padding: 4em 0 2em 0 ;
		}

	}

	@media screen and (max-width: 736px) {

		#main > .inner {
			padding: 0 2em 0.1em 2em ;
		}

		#main > .inner > section {
			padding: 3em 0 1em 0 ;
		}

	}





/* Header */

#header {
	border-bottom: solid 5px #5B7894;
	color: grey;
}




/* Footer */

#footer .copyright {
	color: #9fa3a6;
	font-size: 0.9em;
}

#footer .copyright a {
	color: inherit;
	border-bottom: dotted 1px;
}

#footer .copyright a:hover {
    color: #5B7894;
    background:whitesmoke;
    text-decoration: none;
}