
body { /*https://blog.koenvangilst.nl/brutalist-css/*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 50rem;
  padding: 2rem;
  margin: auto;
  color: #444444;
}

code {
	color: #777;
	font-family: monospace;
	background: whitesmoke;
	border-radius: .2rem;
	padding: .1rem .3rem .2rem;
}

a {
    color:#3377b3;
    text-decoration: none;
}
a:hover {
    color:#3337b3;
    background:whitesmoke;
    text-decoration: underline;
}

h1
{
    border-bottom:1px solid #ccc;
    padding-bottom:3px;
}

br { /*to fix extra spacing of indented bullets*/
  content: "";
  margin: 2em;
  display: block;
  font-size: 5%;
}

blockquote {
  /*background: whitesmoke;*/
  border: 1px solid #ccc;
  border-left: 4px solid #ccc;
  border-radius:0.1rem;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

th {
	background-color: #ccc;
	padding: .4rem;
}

td {
	padding: .3rem;
}

tr:nth-child(even){background-color: whitesmoke;}
tr:hover {background-color: #ddd;}


.div-feedback {
  background-color: whitesmoke;
  text-align: center;
  width:  100%;
  padding:  .3rem;
  color: gray;
  font-size: 14px;
  border-radius: 4px;
}


/*Bootstrap style alerts: */
.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;
 
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    border-radius: 4px;
    border: .5px solid #00529B;

}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 4px;
    border: .5px solid #4F8A10;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    border-radius: 4px;
    border: .5px solid #9F6000;
}
.error {
    color: #D8000C;
    background-color: #FFD2D2;
    border-radius: 4px;
    border: .5px solid #D8000C;
}
.info i, .success i, .warning i, .error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}